<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <prerender_io>
                <use_product_canonical_url>0</use_product_canonical_url>
                <enable_product_indexing>1</enable_product_indexing>
                <enable_product_category_indexing>1</enable_product_category_indexing>
                <enable_category_indexing>1</enable_category_indexing>
            </prerender_io>
        </system>
    </default>
</config>