<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aligent\PrerenderIo\Api\PrerenderClientInterface"
                type="Aligent\PrerenderIo\Model\Api\PrerenderClient"/>
    <type name="Aligent\PrerenderIo\Model\Indexer\Product\ProductIndexer">
        <arguments>
            <argument name="dimensionProvider" xsi:type="object" shared="false">
                Magento\Store\Model\StoreDimensionProvider
            </argument>
        </arguments>
    </type>
</config>
