<?xml version="1.0"?>
<!--
  ~ Copyright (c) Aligent Consulting. All rights reserved.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aligent\PrerenderIo\Api\PrerenderClientInterface"
                type="Aligent\PrerenderIo\Model\Api\PrerenderClient"/>
    <type name="Aligent\PrerenderIo\Model\Indexer\Product\ProductIndexer">
        <arguments>
            <argument name="dimensionProvider" xsi:type="object" shared="false">
                Magento\Store\Model\StoreDimensionProvider
            </argument>
        </arguments>
    </type>
    <type name="Aligent\PrerenderIo\Model\Indexer\Category\CategoryIndexer">
        <arguments>
            <argument name="dimensionProvider" xsi:type="object" shared="false">
                Magento\Store\Model\StoreDimensionProvider
            </argument>
        </arguments>
    </type>
    <type name="Aligent\PrerenderIo\Model\Indexer\Category\ProductIndexer">
        <arguments>
            <argument name="dimensionProvider" xsi:type="object" shared="false">
                Magento\Store\Model\StoreDimensionProvider
            </argument>
        </arguments>
    </type>
    <virtualType name="customStagedProductAttributeSubscription" type="Aligent\PrerenderIo\Model\Mview\View\Attribute\Subscription">
        <arguments>
            <argument name="entityInterface" xsi:type="string">Magento\Catalog\Api\Data\ProductInterface</argument>
        </arguments>
    </virtualType>
    <type name="Magento\CatalogStaging\Model\Mview\View\SubscriptionFactory">
        <arguments>
            <argument name="subscriptionModels" xsi:type="array">
                <item name="catalog_product_link" xsi:type="string">customStagedProductAttributeSubscription</item>
            </argument>
        </arguments>
    </type>
</config>
